/* 
.footer {
    background-color: #22223b;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
    margin-top: auto;
}

.footer p {
    margin-bottom: 0;
    color: white;
}

.foot{
    margin-bottom: 0px;
} */

.footer {
    background-color: #22223b;
    color: #fff;
    padding: 18px 0;
    text-align: center;
    width: 100%;
    border-top: 2px solid #4a4e69;
}

.footer p {
    margin: 4px 0;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: white;
}

.foot {
    width: 100%;
    margin: 0;
}
