
.footer {
    background-color: #22223b;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 0px;
    position: fixed;
    bottom: 0%;
    left: 0;
    width: 100%;
    margin-top: auto;
}

.footer p {
    margin-bottom: 0;
    color: white;
}

.foot{
    margin-bottom: 0px;
}