
.head{
    background-color: #22223b;
    color: white;
    height: 15vh;
}

.head div h3{

    color: white;
}

.head nav a{
    text-decoration: none;
    color: white;
}

.head li{
    margin-left: 30px;
    margin-bottom: 10px;
}

.head div{
    margin-top: 0vh;
}