
*{
    background-color:rgb(181, 180, 189);
   
}
.login{
 margin-top:25vh ;
 margin-left: 33vw;
 border: 2px solid black;
 border-radius: 10px;
 width: 32vw;
 height: 50vh;
 background-color: white;
}

.login input{
    background-color: aliceblue;
    width: 350px;
    font-size: large;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;
}
.login button{
    margin-top: 10px;
    margin-left: 30px;
    width: 350px;
    height: 50px;
    background-color: rgb(32, 10, 131); 
    border-radius: 10px;
    font-size: larger;
    border: 0px;
    color: beige;
}
.login #anchor{
   background-color: white;
   margin-left: 150px;
}
.login #anchor2{
   background-color: white;
}