

.login{
text-align: center;
 margin-top:2vh ;
 margin-left: 33vw;
 border: 2px solid black;
 border-radius: 10px;
 width: 36vw;
 background-color: #fefae0;
 height: 55vh;

 padding-bottom: 10px;
}

.login input{
    background-color: aliceblue;
    width: 350px;
    font-size: large;
    height: 50px;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    text-align: center;
}
.login button{
    margin-top: 10px;
    margin-left: 30px;
    width: 350px;
    height: 50px;
    background-color: blue; 
    border-radius: 10px;
    font-size: larger;
    border: 0px;
    color: beige;
}
.login #anchor{
   background-color: white;
   margin-left: 150px;
}
.login #anchor2{
   background-color: white;
}

h3{
    padding-top: 7vh;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 3vh;
}

h2{
    padding-top: 70px;
    text-align: center;
}

a{
    text-decoration: none;
}

button:hover{
    background-color: rgb(39, 39, 123);
}